.modal { 
    margin: auto 0;
    
    padding: 10rem 0;
    overflow-y:auto;
    box-sizing: border-box;
  }
  .overlay{ 
    padding: 4rem 0;
    overflow-y:auto;
    box-sizing: border-box;
  }
  .table{
    margin-left: auto;
    margin-right: auto;
    }
  th{
    text-align:center
  }

  #desc{
    width:25%;
    padding:0;
  }

